<!-- section -->
<div id="tech" class="">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div
          class="card h-100 shadow rounded border-primary bg-primary text-white opacity-75"
        >
          <div class="card-header d-none">WordPress</div>
          <div class="text-center">
            <img
              src="assets/img/skills/wordpress-logo.png"
              class="card-img"
              alt="wordpress-logo"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text text-justify">
              WordPress is a web content management system. It was originally
              created as a tool to publish blogs but has evolved to support
              publishing other web content, including more traditional websites,
              mailing lists and Internet forum, media galleries, membership
              sites, learning management systems and online stores.
            </p>
          </div>
          <p class="card-footer">
            <small class="text-muted"></small>
          </p>
        </div>
      </div>
      <div class="col">
        <div
          class="card h-100 shadow rounded border-success bg-success text-white opacity-75"
        >
          <div class="card-header d-none">Spring Boot</div>
          <div class="text-center">
            <img
              src="/assets/img/skills/springf-logo.png"
              class="card-img"
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text text-wrap">
              The Spring Framework is an application framework and inversion of
              control container for the Java platform. The framework's core
              features can be used by any Java application, but there are
              extensions for building web applications on top of the Java EE
              platform.
            </p>
          </div>
          <p class="card-footer">
            <small class="text-muted"></small>
          </p>
        </div>
      </div>
      <div class="col">
        <div
          class="card h-100 shadow rounded border-danger bg-danger text-white opacity-75"
        >
          <div class="card-header d-none">Angular</div>
          <div class="text-center">
            <img
              src="assets/img/skills/angular-logo.png"
              class="card-img"
              alt="..."
            />
          </div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text text-justify">
              Angular is a TypeScript-based free and open-source single-page web
              application framework run on Node.js. It is developed by Google
              and by a community of individuals and corporations. Angular is a
              complete rewrite from the same team that built AngularJS.
            </p>
          </div>
          <p class="card-footer">
            <small class="text-muted"></small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
