<!-- Welcome Section -->
<!-- <section
      id="tmWelcome"
      class="parallax-window"
      data-parallax="scroll"
      data-image-src="assets/img/mini-profile-bg-01.jpg"
    > -->
<section id="tmWelcome" class="parallax-window">
  <div class="container-fluid tm-brand-container-outer">
    <div class="row">
      <div class="col-12">
        <!-- Logo Area -->
        <!-- Black transparent bg -->
        <div
          class="ml-auto mr-0 tm-bg-black-transparent text-white tm-brand-container-inner"
        >
          <div class="tm-brand-container text-center">
            <h1 class="tm-brand-name">Hey, I'm Julian</h1>
            <p class="tm-brand-description mb-0">
              Software Engineer | WordPress Backend Developer
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tm-bg-white-transparent tm-welcome-container">
    <div class="container-fluid">
      <div class="row h-100">
        <!-- Welcome Text -->
        <!-- White transparent bg -->
        <div class="col-md-7 tm-welcome-left-col">
          <div class="tm-welcome-left">
            <h2 class="tm-welcome-title">Welcome to My Profile Page</h2>
            <p class="pb-0">
              I'm a Driven Software Engineer with 3+ years of experience
              crafting robust web applications. Skilled in both backend (PHP,
              Spring Framework, Java) and frontend (HTML, CSS, JavaScript,
              TypeScript) development. Adept at utilizing various databases
              (PostgreSQL, MySQL, SQL Server, MongoDB) and adhering to secure
              development lifecycle principles.
            </p>
          </div>
        </div>
        <!-- Brown bg -->
        <div class="col-md-5">
          <div class="tm-welcome-right">
            <div class="tm-welcome-icons">
              <fa-icon [icon]="faMapMarker" class="tm-welcome-icon"></fa-icon
              ><span class="tm-welcome-link">Montclair, NJ</span>
            </div>

            <div class="tm-welcome-icons">
              <fa-icon [icon]="faPhone" class="tm-welcome-icon"></fa-icon
              ><span class="tm-welcome-link">(404)953 0373</span>
            </div>

            <div class="tm-welcome-icons">
              <fa-icon [icon]="faEnvelope" class="tm-welcome-icon"></fa-icon
              ><a
                href="mailto:julianmercadomeza@gmail.com"
                class="tm-welcome-link"
                >julianmercadomeza&#64;gmail.com</a
              >
            </div>

            <div class="tm-welcome-icons">
              <fa-icon [icon]="faGithub" class="tm-welcome-icon"></fa-icon
              ><a
                href="https://github.com/jularmerme"
                target="_blank"
                class="tm-welcome-link"
                >/jularmerme</a
              >
            </div>
            <div class="tm-welcome-icons">
              <fa-icon
                [icon]="faLinkedin"
                class="tm-welcome-icon"
                aria-hidden="true"
              >
              </fa-icon
              ><a
                href="https://www.linkedin.com/in/julianmercadomeza/"
                target="_blank"
                class="tm-welcome-link"
                >/in/julianmercadomeza/</a
              >
            </div>
            <!-- <p class="mb-0">
                      Please spread a word about templatemo website. Anyone can
                      download free Bootstrap CSS templates.
                    </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Welcome section -->
